.card {
	transform-style: preserve-3d;
	transform: perspective(1000px);
}

.card > h1 {
	transform: translateZ(20px);
}

/* Start */
.glassIco {
	border: 1px solid rgba(255, 255, 255, 0.2);
	transition: 200ms;
}

.glassIco::before {
	content: "";
	position: absolute;
	width: 50%;
	height: 100%;
	background: rgba(255, 255, 255, 0.3);
	transform: skewX(45deg) translateX(250%);
}

.glassIco:hover::before {
	transition: 400ms;
	transform: skewX(45deg) translateX(-250%);
}

.clip-circle-right {
	clip-path: circle(40% at right 70%);
}

.clip-circle-left {
	clip-path: circle(35% at 10% 10%);
}
