.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.trans-fast-cube {
	transition: all cubic-bezier(0.68, -0.55, 0.27, 1.55) 300ms;
}

.trans-fast {
	transition: all ease-in-out 300ms;
}

.trans-slow {
	transition: all ease-in-out 1000ms;
}

::selection {
	background: rgba(243, 46, 102, 0.1);
	color: #f32e66;
}

body {
	overflow: auto;
	scrollbar-width: none;
}

.transition-parallax {
	transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

body {
	width: 100vw;
	overflow-x: hidden;
}

* {
	scrollbar-width: thin;
	scrollbar-color: #f32e66 white;
}

*::-webkit-scrollbar {
	width: 15px;
}

*::-webkit-scrollbar-track {
	background: #ffffff;
}

*::-webkit-scrollbar-thumb {
	background-color: #000000;
	border-radius: 5px;
	border: 2px solid #ffffff;
}

.gay {
	background-image: linear-gradient(#d04b36 0%,
	#d04b36 16.6666%,
	#e36511 16.6666%,
	#e36511 33.333%,
	#ffba00 33.333%,
	#ffba00 50%,
	#00b180 50%,
	#00b180 66.6666%,
	#147aab 66.6666%,
	#147aab 83.3333%,
	#675997 83.3333%,
	#675997 100%);
}

.intersex {
	--i-yellow: #ffba00;
	--i-indigo: #675997;

	background: repeating-radial-gradient(circle at center,
			var(--i-indigo) 10%,
			var(--i-indigo) 15%,
			var(--i-yellow) 15%,
			var(--i-yellow) 100%); 
}


.trans {
	--t-blue: #4fa5c2;
	--t-pink: #f587ac;
	--t-white: #f9fbfc;

	background-image: linear-gradient(var(--t-blue) 0%,
			var(--t-blue) 20%,
			var(--t-pink) 20%,
			var(--t-pink) 40%,
			var(--t-white) 40%,
			var(--t-white) 60%,
			var(--t-pink) 60%,
			var(--t-pink) 80%,
			var(--t-blue) 80%,
			var(--t-blue) 100%);
}

.flag {
	display: inline-block;
	width: 300px;
	aspect-ratio: 14 / 9; }

.flag.intersex-inclusive {
	background:
		radial-gradient(circle at 9.75% 50%, #0000 6.66%, darkviolet 6.7% 8.33%, #0000 8.4%),
		conic-gradient(at 26.66% 50%, #0000 222.75deg, gold 0 317.25deg, #0000 0),
		conic-gradient(at 33% 50%, #0000 222.75deg, white 0 317.25deg, #0000 0),
		conic-gradient(at 39% 50%, #0000 222.75deg, #ffa6b9 0 317.25deg, #0000 0),
		conic-gradient(at 45.66% 50%, #0000 222.75deg, #00d2ff 0 317.25deg, #0000 0),
		conic-gradient(at 52% 50%, #0000 222.75deg, #753000 0 317.25deg, #0000 0),
		conic-gradient(at 58.33% 50%, #0000 222.75deg, #000 0 317.25deg, #0000 0),
		linear-gradient(red 0 16.66%, orange 0 33.33%, yellow 0 50%, green 0 66.66%, blue 0 83.33%, indigo 0); }

.nonb {
	--nb-black: #222222;
	--nb-yellow: #ffba00;
	--nb-white: #f9fbfc;
	--nb-purple: #675997;
	background-image: linear-gradient(var(--nb-yellow) 0%,
			var(--nb-yellow) 25%,
			var(--nb-white) 25%,
			var(--nb-white) 50%,
			var(--nb-purple) 50%,
			var(--nb-purple) 75%,
			var(--nb-black) 75%,
			var(--nb-black) 100%);
}

.lesbian {
	--lesbian-darkorange: #d82c01;
	--lesbian-paleorange: #f1752c;
	--lesbian-liteorange: #ff985b;
	--lesbian-center: #ffffff;
	--lesbian-litemagenta: #d162a3;
	--lesbian-palemagenta: #b75591;
	--lesbian-darkmagenta: #a60260;
	--lesbian: linear-gradient(var(--lesbian-darkorange) 0%,
			var(--lesbian-darkorange) 14.28%,
			var(--lesbian-paleorange) 14.28%,
			var(--lesbian-paleorange) 28.58%,
			var(--lesbian-liteorange) 28.58%,
			var(--lesbian-liteorange) 42.87%,
			var(--lesbian-center) 42.87%,
			var(--lesbian-center) 57.16%,
			var(--lesbian-litemagenta) 57.16%,
			var(--lesbian-litemagenta) 71.45%,
			var(--lesbian-palemagenta) 71.45%,
			var(--lesbian-palemagenta) 85.74%,
			var(--lesbian-darkmagenta) 85.74%,
			var(--lesbian-darkmagenta) 100%);
	background-image: var(--lesbian);
}